html, body {
    height: 100%;
    width: 100%;
    background-color: black;
    color: #222;
    font-family: "poppins";    
}
/* Navbar */

.navbar {
    height: 70px;    
}

.navbar-nav li {
    padding-right:50px;
}

.nav-link {
    font-size: 1.3em !important;
}

.nav-link:hover {
    color:gray !important;
}

.bg-light {
    background-color: #000!important;
} 

.navbar-light .navbar-toggler {
    border-color: #e9ecef;
    background-color: #e9ecef;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color:white;
    font-family: Gloss and Bloom;
    letter-spacing: 3px;
}

#FSC {
    font-family: Gloss and Bloom;
    color: white;
    font-size: xx-large; 
    padding-left: 50px;
    padding-top: 1rem;    
}

/* Carousel */

#carouselcontainer {
    padding-top: 70px;
}

.carousel-caption {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
}

.carousel-caption h1 {
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px #000;
}

.display-2 {
    font-family: Gloss and Bloom;
}

/* About Me Section */

#jumbo {
    padding-top: 20px;
}

.jumbotron {
    padding: 2rem 2rem;
    border-radius: 0;
    margin-top: 60px;
    background-color: #9A9B9C;
}

#About {
    font-family: Gloss and Bloom;
    text-align: center;
    padding-top: 10px;
}

/* Footer */

footer {
    color: white;
}

footer h5 {
    text-align: center;
    font-family: Gloss and Bloom;
    letter-spacing: 2px;
}

#CopyR {
    font-family: Gloss and Bloom;
    text-align: center;
}

#MainLinks {
    color: white;

}

#SitesOf {
    color: white;
}

#portfolio {
    background-image: url(../Homework-2/Images/Code.jpg);
    background-size: cover;
    padding-top: 70px;
    width: 100%;
    height: 670px;
    
}

#disp4 {
    margin-top: -25px;
    font-family: Gloss and Bloom;
    letter-spacing: 2px;
    color: white;
    text-align: center;
}

#contact {
    background-image: url(../Homework-2/Images/web.jpg);
    background-size: cover;
    padding-top: 70px;
    width: 100%;
    height: 670px;

}

.contact-form {
    background: rgba(0, 0, 0, .6);
    color: white;
    margin-top: 25px;
    padding: 20px;
    box-shadow: 0px 0px 10px 3px gray;

}

.social a {
    font-size: 4.5em;
}

#socialnet {
    padding-top: 20px;
}

/* .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  } */

  #facebook {
    color: white;
    margin-right: 130px;
    margin-left: 30px;
  } 
  
#youtube {
      color: white;
      margin-left: 0px;
      margin-right: -200px;
} 

#soundcloud {
    color: white;
    margin-right: 120px;
} 

#instagram {
      color: white;
      margin-left: 60px;
      margin-right: -200px;
} 

.fa:hover {
    opacity: 0.7;
}



.card {
    background-color: transparent;
}

.card-title {
    color: white;
    text-align: center;
    letter-spacing: 2px;
    
    
}

#boton {
    margin-left: 40px;
}

#dados {
    margin-top: 50px;
}

#dados2 {
    margin-top: 33px;
}

#dados3 {
    margin-top: 120px;
}

#dados4 {
    margin-top: 97px;
}

@media (max-width: 980px) {
    #aboutmep {
        margin-top: 20px;
    }
    #portfolio {
        height: 100%;
    }
    .card {
        margin-left: 170px;
    }
}

@media (max-width: 768px) {
    #aboutmep {
        margin-top: 20px;
    }
    #portfolio {
        height: 100%;
    }
    .card {
        margin-left: 170px;
    }
    #contact {
        height: 100%;
    }
}

@media (max-width: 640px) {
    .carousel-caption {
        position: absolute;
        top: 26%;
        transform: translateY(-50%);
    }

    .card {
        margin-left: 120px;
    }
}

